.App {
    background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%);
    min-height: 100vh;
    padding-top: 16px;
}

.title {
    padding-bottom: 32px;
    font-size: 64px;
    text-align: center;
    background: url('./assets/images/copy_texture_1_large.jpg') no-repeat center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

a {
    color: rgba(255,255,255,.75);
}

a:hover {
    color: rgba(255,255,255,1);
}
