.App {
    background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
    min-height: 100vh;
    padding-top: 16px;
}

.title {
    padding-bottom: 16px;
    font-size: 64px;
    text-align: center;
    background: url('./assets/images/copy_texture_1_large.jpg') no-repeat center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

.copyright {
    text-align: center;
    margin-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}

a {
    color: rgba(255,255,255,.8);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(58, 58, 58, .6);
}
