.App {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  min-height: 100vh;
  background: url('./assets/images/background.png');
}

.title {
  padding-bottom: 32px;
  font-size: 64px;
  text-align: center;
  background: url('./assets/images/copy_texture_1_large.jpg') no-repeat center
    center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

a {
  color: rgba(0, 0, 0, 0.65);
}

a:hover {
  color: rgba(0, 0, 0, 1);
}
